.bg-img {
    background: url(/img/pharaoh.jpg);
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 750px;
}

.btn-snd {
    text-align: center;
}
